@font-face {
    font-family: 'passionsconflict-regular';
    src: url(fonts/PassionsConflict-Regular.ttf);
} 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    padding: 5px;
    border-bottom-style: groove;
    }

.header h1 {
    display: inline-block;
    font-size: 30px;
}

.header div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 15px;
}

.header div dt dl {
        display: inline-block;
        margin-left: 25px;
}

.name {
    font-family: 'passionsconflict-regular', cursive, sans-serif;
    font-size: 35px;
    text-align: center;
    
}
.description {
        width: 75%;
        display:flex 
        flex-wrap: wrap;
        }

.learning-code {
    display: inline-flex;
    float: left;
    margin-left: 100px;
    margin-bottom: 50px;
    padding: 20px;
    height: 150px;
}

.love-ocean {
    display: inline-flex;
    float: right;
    margin-left: 200px;
    margin-bottom: 250px;
    padding: 20px;
    height: 150px; 
}

.code-img {
    background-color: transparent;
    border-radius: 25%;
}

.corals-img {
    border-radius: 25%;
    box-shadow: 10px;
}
