 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    padding: 5px;
    border-bottom-style: groove;
    }

.header h1 {
    display: inline-block;
    font-size: 30px;
}

.header div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 15px;
}

.header div dt dl {
        display: inline-block;
        margin-left: 25px;
}


.description {
        width: 75%;
        display:flex
        
}

.learning-code {
    float: left;
    margin-left: 200px;
        margin-bottom: 200px;
        padding: 50px;
        height: 100px;
}

.love-ocean {
    float: right;
    margin-left: 200px;
        margin-bottom: 200px;
        padding: 50px;
        height: 100px;

    
}

.footer {
    padding-top: 25px;
    clear: both;
    text-align: bottom;
    font-size: 15px;
}



